@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                BlogApp-The Dev Blog
            </h1>
            <p class="lead">Blog is home to coding blogs ,covering
                vast range of topics like Html,CSS JavaScript,ASP.Net,SQL,etc.
                Want to read latest dev articles? Join the BlogApp and get weekly blogs right in your email.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img  src="https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
            class="d-block mx-lg-auto img-fluid" width="400"/>
        </div>

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="mb-5 display-3"> Blogs</h2>
            <div class="mb-3">
                @if (@Model.Tags != null && @Model.Tags.Any())
                {
                    foreach (var tag in @Model.Tags)
                    {
                        <a href="/tags/@tag.Name">
                            <span class="badge bg-dark mr-3 mb-5">@tag.Name</span>
                        </a>
                        
                    }
                }
            </div>
            @if (Model.Blogs != null&&Model.Blogs.Any())
            {
                @foreach(var blog in Model.Blogs)
                    {
                        <div class="mb-5 bg-light box-shadow">
                            <img src="@blog.FeaturedImageUrl" alt="@blog.Heading" class="mb-2 d-block img-fluid" />
                        </div>
                        <div class="p-xl-4 p-y-4">
                            <h2 class="mb-2">@blog.Heading</h2>
                            <p>
                                Author:@blog.Author
                                <br/>
                                Date Published:@blog.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">
                                @blog.ShortDescription
                            </p>
                            <a href="/blog/@blog.UrlHandle" class="btn btn-dark mb-3"> Read More</a>
                        </div>
                    }

            }

        </div>
    </div>
</div>

